<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.market2019">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Market2019"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.ghichu.themitemActivity" />
        <activity android:name="com.example.ghichu.ChiTietActivity" />
        <activity android:name="com.example.ghichu.GhichuActivity" />
        <activity android:name="com.example.ghichu.MainActivity" />
        <activity android:name="com.example.ghichu.LoadActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>